<!DOCTYPE html>
<html lang="zh-CN">
<head>
<title>canvas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
        <script type="text/javascript">


        var xVal ;
        var yVal ; 
    window.onload = function () {

        var dps = []; // dataPoints

        var chart = new CanvasJS.Chart("chartContainer",{
            title :{
                text: "Live Height Data"
            },          
            axisX:{
            labelAngle: -50,
            },
            data: [{
                type: "line",
                xValueType: "dateTime",
                showInLegend: true,
                name: "fisrt pool",
                dataPoints: dps
            }]
        });

        xVal = new Date();
        yVal = Math.random()*400;
        var updateInterval = 10000;
        var dataLength = 20; // number of dataPoints visible at any point

        var updateChart = function () {
                
            requestData();

        function dpspush(xVal, yVal){
            dps.push({
                x: xVal,
                y: yVal,
            });
        }

            if (dps.length > dataLength)
            {
                dps.shift();                
            }
            
            chart.render();     

        function requestData() {
            $.ajax({
                url: '/data',
                type: 'GET',
                success: function(point) {

                    var date = new Date(point[0]);
                    // Get the offset in ms
                    var offset = date.getTimezoneOffset()*60000;
                    var dateOffseted = date.setTime(date.getTime()-offset);
                    var dateCleaned = date.getTime()+offset;
                    var height = point[1];
                    var dot = [dateCleaned, height]
                    dpspush(dateCleaned, height);
                    console.log(point[0]);
                    console.log(dot);
                },
                cache: false
            });
        };

        };

        // generates first set of dataPoints
        updateChart(dataLength); 

        // update chart after specified time. 
        setInterval(function(){updateChart()}, updateInterval); 



    }
    </script>
    <script type="text/javascript" src="/static/js/canvasjs.min.js"></script>

</head>

<body>
    <div id="chartContainer" style="height: 300px; width:100%;">
    </div>
</body>
</html>

</html>
